.no-timeline-container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 99%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.icon:hover {
    cursor: pointer;
    border-left: black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.icons {
    display: flex;
    justify-content: center;
    margin: auto;
}


.img-social {
    height: 140px;
    border-radius: 25%;
    margin: 10px;
}

.social-container {
    display: grid;
    width: 75%;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    background: #001529;
    justify-items: center;
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
}

.social-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    height: inherit;
    border-right: 1px solid white;
}

.title {
    display: grid;
    justify-items: center;
}

.title>a {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #bfe1ef;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 25px 25px 25px 25px;
}


.title>a:hover {
    text-decoration: none;
    color: black;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 20, .209), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.twitterbox {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
    padding: 30px;
    height: inherit;
}

.sm>h1 {
    margin-top: 20px;
    color: white !important;

}


@media (max-width: 1003px) {
    .social-container {
        width: 100%;
    }

    .social-container {
        grid-template-columns: 1fr;
        margin-bottom: 700px;

    }

    .twitterbox {
        width: 100%;

        background: #373A43;
    }

}

@media (max-width: 400px) {

    .twitterbox {
        width: 100%;
        background: #373A43;
    }

    .social-container {
        border: none;
        border-bottom: 1px solid white;

    }
}